@use 'var';

.pagenation {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 1.6rem;
    padding: 1.6rem 0;

    ul {
        display: flex;
        grid-column-gap: .8rem;

        li {
            a {
                &.btn.disabled {
                    pointer-events: none;

                    i svg {
                        fill: var.$colorGray2;
                    }
                }
            }
        }

        &.number-group {
            li {
                width: 3.2rem;
                height: 3.2rem;
                text-align: center;
                border-radius: 2px;
                color: var.$colorBlack;
                position: relative;
                box-sizing: border-box;

                &:hover {
                    background: #fff;
                    font-weight: 500;
                }

                &:last-child .icon {
                    display: flex;
                    width: 1.6rem;
                    height: 1.6rem;
                }

                a,
                button.search-page {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    &:link,
                    &:visited,
                    &:active,
                    a:focus {
                        color: var.$colorBlack;
                    }

                    &.active {
                        color: var.$colorPrimary;
                        font-weight: 600;
                        position: relative;
                    }

                    &.active::before {
                        display: block;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: var.$colorPrimary;

                        @include var.hCenter;
                        top: 100%;
                    }

                    &.active:hover {
                        font-weight: 600;
                    }
                }

                .search-modal {
                    width: 130px;
                    background: rgba(255, 255, 255, 0.5);
                    @include var.hCenter;
                    top: calc(-100% - 3.6rem);
                    padding: 1.2rem;
                    border-radius: 2px;
                    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
                    backdrop-filter: blur(10px);
                    display: none;
                    color: var.$colorGray1;

                    &.open {
                        display: block;
                    }

                    form {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;

                        &::after {
                            display: block;
                            content: '';
                            background: transparent;
                            height: 0;
                            z-index: -1;
                            border-top: 6px solid;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            color: var.$colorWhite;
                            @include var.hCenter;
                            top: calc(100% + 12px);
                        }
                    }

                    input[type='number'] {
                        appearance: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        width: 40px;
                        height: 2.8rem;
                        border: 1px solid var.$colorGray3;
                        border-radius: 2px;
                        text-align: center;
                    }

                    button {
                        width: fit-content;
                        height: 2.8rem;
                    }
                }
            }
        }
    }
}